.d-none {
  display: none;
}
.proposal-item__selected:hover span {
  display: none;
}
.proposal-item__selected:hover:before {
  content: "Sil";
}
/* select[data-chosen="0"] ~ .newHome {
    display: none !important;
  } */
select[data-chosen="1"] .rentOrSale {
  display: none !important;
}
.propertyType {
  display: none;
}
.creditSale {
  display: none;
}
.searchCity option {
  color: red;
}
.select2-search__field:focus {
  outline: 0;
  border-color: #364857 !important;
}
.select2-results__option {
  padding: 15px;
}
.skeleton {
  animation: skeleton-loading 1s infinite alternate;
  opacity: 0.7;
}
.skeleton-img {
  height: 100%;
  width: 100%;
  /* background: white; */
}
.skeleton-card-holder__price {
  height: 26px;
  padding: 8px 16px;
  width: 130px;
}
.skeleton-card-holder__title {
  height: 18px;
  padding: 8px 16px;
  width: 65%;
  margin-bottom: 10px;
}
.skeleton-card-holder__feature__item {
  height: 10px;
  padding: 8px 16px;
  width: 45%;
  /* margin-bottom: 5px; */
}
.skeleton-card-holder__status {
  height: 10px;
  padding: 8px 16px;
  width: 45%;
  margin-bottom: 5px;
}
.skeleton-card-holder__date {
  height: 10px;
  width: 40%;
}
.skeleton-card-holder__note {
  height: 10px;
  width: 40%;
}
/* .skeleton-text{
    width: 100%;
    height: .8rem;
    border-radius: .125rem;
  } */
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
/* .areaOfLand{
    
  } */
.load-more {
  margin-top: 15px;
}
.load-more a {
  text-decoration: none;
  color: #364857;
  font-weight: 700;
  padding: 10px;
}
.load-more a:hover {
  color: rgb(51, 53, 64);
  background: rgb(245, 247, 250);
  opacity: 1;
}
.filter-search-dropdown {
  position: relative;
}
.filter-search-dropdown--open .filter-search-dropdown-holder {
  display: block;
}
.filter-search-dropdown-holder {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
  box-shadow: 0 4px 4px rgb(0 0 0 / 8%);
  border: 1px solid #c9c9c9;
  border-top: 0;
  border-radius: 0 0 2px 2px;
  z-index: 10;
}
.filter-search-dropdown-option {
  display: block;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  color: #364857;
  border-bottom: 1px solid #c9c9c9;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 12px 48px 12px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  cursor: pointer;
}
.filter-search-dropdown-option.selected:after {
  content: "\e923";
  font-family: icomoon;
  color: #0a9543;
  position: absolute;
  right: 12px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 16px;
}
.filter-search-dropdown-option.selected {
  font-weight: 700;
}
.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}
.radio-base input[type="checkbox"] {
  -webkit-appearance: none;
  position: absolute;
  opacity: 0;
}
.radio-base input[type="checkbox"]:checked ~ .radio-base__holder {
  background-color: #f3b602;
}
.fotorama__fullscreen-icon {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 50%;
  box-shadow: 0 0 8px 1px rgb(255 255 255 / 50%);
}
.filter-rent {
  display: none;
}
.raundedButton{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 30px;
  min-width: 100px;
  height: 32px;
  font-family: Arial;
  font-size: 14px;
  color: #999;
  padding: 0 8px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.whateverYouChooseforWrapCSS .fancybox-skin {
  background: none;
}


.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  background-color: black;
}
.load-more {
  margin-top: 15px;
}
.load-more a {
  text-decoration: none;
  color: #364857;
  font-weight: 700;
  padding: 10px;
}
.load-more a:hover {
  color: rgb(51, 53, 64);
  background: rgb(245, 247, 250);
  opacity: 1;
}
.checkStyle {
  width: 20px;
  height: 20px;
  border-color: #8bc24c;
  background-color: #8bc24c;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 2px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* Pseudo element for check styling */

.checkStyle::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

/* Checked */

.checkStyle:checked {
  border-color: #8bc24c;
  background-color: #8bc24c;
  transform: scale(1);
}

.checkStyle:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* Disabled */

.checkStyle:disabled {
  background-color: #ccd3d8;
  opacity: 0.84;
  cursor: not-allowed;
}

/* IE */

.checkStyle::-ms-check {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

.checkStyle:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
.property-detail__share{
  position: absolute;
  width: 20px;
  height: 20px;
  color: #f3b602;
  /* font-size: 12PX; */
  top: 4px;
  left: 26px; 
  font-size: 23px!important;}
.phone-area__preview {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #43a24d;
  border-radius: 2px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}
.phone-area__content,
.phone-area__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 97%;
  height: 63px;
}
.phone-area__content {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #eaedf3;
  border-radius: 2px;
  padding: 9px;
  height: 53px;

}
.phone-area__content__number {
  font-size: 16px;
  line-height: 13px;
  font-weight: 700;
  color: #334252;
}
.phone-area__content__note {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  color: #6e8aa1;
}
.balance-transfer-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 16px 0 20px;
  border-bottom: 1px solid #e4e4e4;
}
.balance-transfer-list__item:first-child {
  padding-top: 0;
}
.balance-transfer-list__item:last-child {
  border: none;
  padding-bottom: 0;
}
.balance-transfer-list__remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: #ff5f5f;
  margin: 0 0 16px 16px;
  cursor: pointer;
}
.balance-transfer-list__remove.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: #8c9ea6;
}
.balance-transfer-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 24px 34px 0 0;
}
.fontSize-0_8{
  font-size: 0.8em;
}
.fontSize-1_2{
  font-size: 1.2em;
}
.pointer-none_event{
  pointer-events: none;
}

.icon-box{
  position: relative
}